<div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">

        <section class="error-404 not-found">
            <header class="page-header">
                <h1 class="page-title">{{ __('Oops! That page can&rsquo;t be found.', 'timberscores') }}</h1>
            </header><!-- .page-header -->

            <div class="page-content">
                <p>{{ __('It looks like nothing was found at this location. Maybe try one of the links below or a search?', 'timberscores') }}</p>

                {{ function('get_search_form', false) }}

                {{ function('the_widget', 'WP_Widget_Recent_Posts') }}

                {# Only show the widget if site has multiple categories. #}
                {% if function('timberscores_categorized_blog') %}
                <div class="widget widget_categories">
                    <h2 class="widgettitle">{{ __('Most Used Categories', 'timberscores' ) }}</h2>
                    <ul>
                    {{ function('wp_list_categories', {
                        'orderby'    : 'count',
                        'order'      : 'DESC',
                        'show_count' : 1,
                        'title_li'   : '',
                        'number'     : 10,
                    }) }}
                    </ul>
                </div><!-- .widget -->
                {% endif %}

                {# translators: %1$s: smiley #}
                {% set archive_content = '<p>' ~ __('Try looking in the monthly archives. %1$s', 'timberscores')|format(function('convert_smilies', ':)')) ~ '</p>' %}

                {{ function('the_widget', 'WP_Widget_Archives', {
                    'dropdown': '1'
                }, {
                    'after_title': '</h2>' ~ archive_content
                }) }}

                {{ function('the_widget', 'WP_Widget_Tag_Cloud') }}

            </div><!-- .page-content -->
        </section><!-- .error-404 -->

    </main><!-- #main -->
</div><!-- #primary -->
