{% import 'assets/views/macros.twig' as macros %}

<article id="post-{{ post.ID }}" class="{{ post.post_class }}">
    <header class="entry-header">
        <h1 class="entry-title">
            <a href="{{ post.permalink }}" rel="bookmark">{{ post.title }}</a>
        </h1>

        {% if post.post_type == 'post' %}
        <div class="entry-meta">
            {{ macros.timberscores_posted_on(post) }}
        </div><!-- .entry-meta -->
        {% endif %}
    </header><!-- .entry-header -->

    {# TODO: should is_* functions be exposed by Timber? #}
    {% if function('is_search') %}
        <div class="entry-summary">
            {{ post.get_preview }}
        </div><!-- .entry-summary -->
    {% else %}
        <div class="entry-content">
            {{ post.get_preview(50, false, __('Continue reading <span class="meta-nav">&rarr;</span>', 'timberscores')) }}

            {# TODO: This only works in the loop... what's the Timber equivalent? #}
            {{ function('wp_link_pages', {
                'before': '<div class="page-links">' . __( 'Pages:', 'timberscores' ),
                'after': '</div>',
            }) }}
        </div><!-- .entry-content -->
    {% endif %}

</article><!-- #post-## -->
