</div><!-- #content -->

    <footer id="colophon" class="site-footer" role="contentinfo">
        <div class="site-info">
            <p>Site Developed and Maintained by SuccessfullySmall</p>
        </div><!-- .site-info -->
    </footer><!-- #colophon -->
</div><!-- #page -->

{{ wp_footer }}

</body>
</html>
