<!DOCTYPE html>
<html {{ language_attributes }}>
<head>
<meta charset="{{ function('bloginfo', 'charset') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ function('wp_title', '|', true, 'right') }}</title>
<link rel="profile" href="http://gmpg.org/xfn/11">
<link rel="pingback" href="{{ function('bloginfo', 'pingback_url') }}">
<link rel="stylesheet" href="{{ theme.path }}/assets/css/style.css">

{{ wp_head }}
</head>

<body{% if body_class %} class="{{ body_class }}"{% endif %}>
<div id="page" class="hfeed site">

    <header id="masthead" class="site-header" role="banner">
        <div class="site-branding">
            <h1 class="site-title"><a href="{{ function('esc_url', function('home_url', '/')) }}" rel="home">{{ function('bloginfo', 'name') }}</a></h1>
        </div>

        <nav id="site-navigation" class="main-navigation" role="navigation">
<!--          <button class="menu-toggle">{{ __('Primary Menu', 'timberscores') }}</button> -->
            {{ function('wp_nav_menu', { 'theme_location': 'primary' }) }}
        </nav><!-- #site-navigation -->
    </header><!-- #masthead -->

    <div id="content" class="site-content">
