<div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">


    {{ function('timberscores_paging_nav') }}

    </main><!-- #main -->
</div><!-- #primary -->

{{ sidebar }}
