button,input[type="button"],input[type="reset"],input[type="submit"],button{-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;appearance:none;background-color:#477dca;border:0;border-radius:3px;color:#fff;cursor:pointer;display:inline-block;font-family:"Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;font-size:1em;font-smoothing:antialiased;font-weight:600;line-height:1;padding:.75em 1em;text-decoration:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;vertical-align:middle;white-space:nowrap}
button:hover,button:focus,input[type="button"]:hover,input[type="button"]:focus,input[type="reset"]:hover,input[type="reset"]:focus,input[type="submit"]:hover,input[type="submit"]:focus,button:hover,button:focus{background-color:#2c5999;color:#fff}
button:disabled,input[type="button"]:disabled,input[type="reset"]:disabled,input[type="submit"]:disabled,button:disabled{cursor:not-allowed;opacity:.5}
fieldset{background-color:#f7f7f7;border:1px solid #ddd;margin:0 0 .75em;padding:1.5em}
input,label,select{display:block;font-family:"Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;font-size:1em}
label{font-weight:600;margin-bottom:.375em}label.required::after{content:'*'}
label abbr{display:none}input[type="color"],input[type="date"],input[type="datetime"],input[type="datetime-local"],input[type="email"],input[type="month"],input[type="number"],input[type="password"],input[type="search"],input[type="tel"],input[type="text"],input[type="time"],input[type="url"],input[type="week"],input:not([type]),textarea,select[multiple=multiple],textarea{background-color:#fff;border:1px solid #ddd;border-radius:3px;box-shadow:inset 0 1px 3px rgba(0,0,0,0.06);box-sizing:border-box;font-family:"Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;font-size:1em;margin-bottom:.75em;padding:.5em;transition:border-color;width:100%}
input[type="color"]:hover,input[type="date"]:hover,input[type="datetime"]:hover,input[type="datetime-local"]:hover,input[type="email"]:hover,input[type="month"]:hover,input[type="number"]:hover,input[type="password"]:hover,input[type="search"]:hover,input[type="tel"]:hover,input[type="text"]:hover,input[type="time"]:hover,input[type="url"]:hover,input[type="week"]:hover,input:not([type]):hover,textarea:hover,select[multiple=multiple]:hover,textarea:hover{border-color:#c4c4c4}
input[type="color"]:focus,input[type="date"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="email"]:focus,input[type="month"]:focus,input[type="number"]:focus,input[type="password"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="text"]:focus,input[type="time"]:focus,input[type="url"]:focus,input[type="week"]:focus,input:not([type]):focus,textarea:focus,select[multiple=multiple]:focus,textarea:focus{border-color:#477dca;box-shadow:inset 0 1px 3px rgba(0,0,0,0.06),0 0 5px rgba(55,112,192,0.7);outline:0}
textarea{resize:vertical}input[type="search"]{-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;appearance:none}
input[type="checkbox"],input[type="radio"]{display:inline;margin-right:.375em}
input[type="file"]{padding-bottom:.75em;width:100%}select{margin-bottom:1.5em;max-width:100%;width:auto}
ul,ol{list-style-type:none;margin:0;padding:0}ul{list-style-type:disc;margin-bottom:.75em;padding-left:1.5em}
ol{list-style-type:decimal;margin-bottom:.75em;padding-left:1.5em}dl{margin-bottom:.75em}
dl dt{font-weight:bold;margin-top:.75em}dl dd{margin:0}table{-ms-font-feature-settings:"kern","liga","tnum";font-feature-settings:"kern","liga","tnum";border-collapse:collapse;margin:.75em 0;table-layout:fixed;width:100%}
th{border-bottom:1px solid #b7b7b7;font-weight:600;padding:.75em 0;text-align:left}
td{border-bottom:1px solid #ddd;padding:.75em 0}tr,td,th{vertical-align:middle}html{box-sizing:border-box}
*,*::after,*::before{box-sizing:inherit}/*! normalize.css v2.1.3 | MIT License | git.io/normalize */article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}
[hidden],template{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}a{background:transparent}a:focus{outline:thin dotted}a:active,a:hover{outline:0}
h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}
dfn{font-style:italic}hr{box-sizing:content-box;height:0}mark{background:#ff0;color:#000}
code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}
q{quotes:"\201C" "\201D" "\2018" "\2019"}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}sub{bottom:-0.25em}img{border:0;height:auto;max-height:100%;max-width:100%}
svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}
button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="search"]{-webkit-appearance:textfield;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}
table{border-collapse:collapse;border-spacing:0}#breadcrumbs{font-size:.875rem;font-family:"Georgia","Cambria","Times New Roman","Times",serif;padding:20px 0 20px 50px}
html{font-size:62.5%}body{font-size:16px}h1,h2,h3,h4,h5,h6{clear:both;float:none;line-height:1.25em;margin-bottom:20px;text-transform:uppercase}
h1::after,h2::after,h3::after,h4::after,h5::after,h6::after{clear:both;content:"";display:table}
h1{font-size:4.6875rem;color:#000;font-family:"Helvetica Neue","Helvetica","Roboto","Arial",sans-serif}
h2{font-size:3.125rem;font-family:"Helvetica Neue","Helvetica","Roboto","Arial",sans-serif}
h3{font-size:2.1875rem;font-family:"Helvetica Neue","Helvetica","Roboto","Arial",sans-serif}
h4{font-size:1.5rem;font-family:"Helvetica Neue","Helvetica","Roboto","Arial",sans-serif}
h5{font-size:1.25rem;font-family:"Helvetica Neue","Helvetica","Roboto","Arial",sans-serif}
h6{font-size:1rem;font-family:"Helvetica Neue","Helvetica","Roboto","Arial",sans-serif}
blockquote{background-color:#f7f7f7;font-style:italic;padding:20px}cite{font-style:italic}
strong,b{color:#000;font-family:"Helvetica Neue","Helvetica","Roboto","Arial",sans-serif}
a,a:visited{transition:all 200ms ease-in-out;color:#000;text-decoration:none}a:hover,a:visited:hover{transition:all 200ms ease-in-out;color:red;text-decoration:underline}
.entry-meta a,.entry-meta a:visited,.entry-content a,.entry-content a:visited,#secondary a,#secondary a:visited{transition:all 200ms ease-in-out;color:red;text-decoration:none}
.entry-meta a:hover,.entry-meta a:visited:hover,.entry-content a:hover,.entry-content a:visited:hover,#secondary a:hover,#secondary a:visited:hover{transition:all 200ms ease-in-out;color:red;text-decoration:underline}
ul:nth-child(n+2){margin-bottom:0}ol:nth-child(n+2){margin-bottom:0}.entry-title{font-family:"Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;text-align:center}
@media screen and (min-width:0){.entry-title{font-size:2.5rem}}@media screen and (min-width:30em){.entry-title{font-size:4.0625rem}
}@media screen and (min-width:48em){.entry-title{font-size:6.25rem}}#primary,#secondary{font-family:"Georgia","Cambria","Times New Roman","Times",serif}
#submit{background:#000;border:solid 5px #555;border-radius:0;box-shadow:none;clear:both;font-family:"Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;margin:10px 0;padding:20px;transition:all 200ms ease-in-out}
#submit:focus{background:black;border:solid 5px #222;border-radius:0;box-shadow:none;font-family:"Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;padding:20px}
#submit:hover{background:black;border:solid 5px #222;border-radius:0;box-shadow:none;font-family:"Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;padding:20px}
#submit:hover{background-color:#555}.neat-button{background:#fff;border:solid 5px #ccc;border-radius:0;box-shadow:none;clear:both;font-family:"Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;margin:10px 0;padding:20px;transition:all 200ms ease-in-out}
.neat-button:focus{background:#f2f2f2;border:solid 5px #999;border-radius:0;box-shadow:none;font-family:"Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;padding:20px}
.neat-button:hover{background:#f2f2f2;border:solid 5px #999;border-radius:0;box-shadow:none;font-family:"Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;padding:20px}
.neat-3d-button{background:#fff;border-top:solid 3px #ccc;border-right:solid 3px #ccc;border-left:solid 3px #ccc;border-bottom:solid 5px #999;border-radius:0;clear:both;font-family:oswald;margin:15px 0;padding:20px;transition:all 200ms ease-in-out}
.neat-3d-button:focus{background:#f2f2f2;border-top:solid 3px #999;border-right:solid 3px #999;border-left:solid 3px #999;border-bottom:solid 3px #999;border-radius:0;box-shadow:none;font-family:"Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;padding:20px}
.neat-3d-button:hover{background:#f2f2f2;border-top:solid 3px #999;border-right:solid 3px #999;border-left:solid 3px #999;border-bottom:solid 3px #999;border-radius:0;box-shadow:none;font-family:"Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;padding:20px}
input[type="submit"]{background:#000;border:solid 5px #555;border-radius:0;box-shadow:none;clear:both;font-family:"Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;margin:10px 0;padding:20px;transition:all 200ms ease-in-out;margin:0;padding:8px}
input[type="submit"]:focus{background:black;border:solid 5px #222;border-radius:0;box-shadow:none;font-family:"Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;padding:20px}
input[type="submit"]:hover{background:black;border:solid 5px #222;border-radius:0;box-shadow:none;font-family:"Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;padding:20px}
input[type="submit"]:hover{background-color:#999;padding:8px}input#s{width:70%}
.infinite-scroll #navigation,.infinite-scroll.neverending #footer{display:none}.infinity-end.neverending #footer{display:block}
body{background-color:#fff;color:#000;font-family:"Georgia","Cambria","Times New Roman","Times",serif;line-height:1.5em;word-break:break-word;direction:rtl;unicode-bidi:embed}
#page{max-width:71.25em;margin-left:auto;margin-right:auto}#page::after{clear:both;content:"";display:table}
#main{padding:0 50px}#primary{margin:0 auto;width:100%}#primary::after{clear:both;content:"";display:table}
@media screen and (min-width:0){#primary{float:left;display:block;margin-right:14.28571%;width:100%}
#primary:last-child{margin-right:0}}@media screen and (min-width:48em){#primary{float:left;display:block;margin-right:4.34783%;width:65.21739%;margin-right:0}
#primary:last-child{margin-right:0}}#primary ul{list-style:none}#primary ul li{list-style-type:square}
#secondary{margin:20px auto;padding:0 30px 0 0;width:100%}@media screen and (min-width:0){#secondary{float:left;display:block;margin-right:14.28571%;width:100%;padding:30px}
#secondary:last-child{margin-right:0}}@media screen and (min-width:48em){#secondary{float:left;display:block;margin-right:4.34783%;width:30.43478%;margin-right:0}
#secondary:last-child{margin-right:0}}.site-branding{text-align:center;float:left;display:block;margin-right:2.12766%;width:100%}
.site-branding:last-child{margin-right:0}.site-branding .site-title{font-family:"Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;padding:40px;background:red}
@media screen and (min-width:0){.site-branding .site-title{font-size:2.1875rem}}@media screen and (min-width:30em){.site-branding .site-title{font-size:3.4375rem}
}@media screen and (min-width:48em){.site-branding .site-title{font-size:4.6875rem}
}.site-branding .site-title a,.site-branding .site-title a:visited{line-height:1}
.site-branding .site-description{padding:25px 0;font-size:1.25rem;font-family:"Georgia","Cambria","Times New Roman","Times",serif;font-style:italic}
@media screen and (min-width:0){.site-branding .site-description{font-size:.9375rem}
}@media screen and (min-width:30em){.site-branding .site-description{font-size:1.125rem}
}@media screen and (min-width:48em){.site-branding .site-description{font-size:1.5625rem}
}.flexnav{overflow:hidden;margin:0 auto;width:100%;max-height:0;-webkit-tranåsition:all .5s ease-in-out,width 0,height 0,top 0,left 0;transition:all .5s ease-in-out,width 0,height 0,top 0,left 0;-webkit-transform-style:preserve-3d}
.flexnav.opacity{padding-right:0}.flexnav ul{padding-right:0}.flexnav.flexnav-show{max-height:2000px;transition:all .5s ease-in-out}
.flexnav.one-page{position:fixed;top:50px;left:5%;max-width:200px}.flexnav li{font-size:100%;position:relative;overflow:hidden}
.flexnav li a{position:relative;display:block;padding:.80em;z-index:2;overflow:hidden;color:#fff;background:#000;border-bottom:1px solid rgba(0,0,0,0.15);white-space:nowrap}
.flexnav li a:hover{background:#fff;color:#f00 !important}.flexnav li a:focus{background:#fff}
.flexnav li ul{display:none;margin-bottom:0;padding-right:0;width:100%;z-index:5}
.flexnav li ul li{font-size:100%;position:relative;overflow:hidden}.flexnav li ul li:last-child{border-bottom:1px solid #666}
.flexnav li ul.flexnav-show li{overflow:visible}.flexnav li ul li a{display:block;background:#333}
.flexnav ul li ul li a{background:#666}.flexnav ul li ul li ul li a{background:#999}
.flexnav .touch-button{position:absolute;z-index:999;top:0;left:0;width:50px;height:100%;display:inline-block;background:#acaca1;background:rgba(0,0,0,0.075);text-align:center}
.flexnav .touch-button:hover{cursor:pointer}.flexnav .touch-button .navicon{position:relative;top:1.4em;font-size:12px;color:#666}
.menu-button{position:relative;display:block;padding:1em;background:#000;color:#fff;cursor:pointer;border-bottom:1px solid rgba(0,0,0,0.2);width:100%}
.menu-button.one-page{position:fixed;top:0;left:5%;padding-left:45px}.menu-button .touch-button{background:transparent;position:absolute;z-index:999;top:0;left:0;width:50px;height:50px;display:none;text-align:center}
.menu-button .touch-button .navicon{font-size:16px;position:relative;top:1em;color:#666}
.menu-button:hover{color:#fff}.menu-button:hover i.navicon{color:#fff}.menu-button:hover i.navicon:after{color:#fff;content:'Menu'}
.menu-button i.navicon{display:block !important;position:relative;left:30px}.menu-button i.navicon:after{color:#555;content:'Menu'}
@media all and (min-width:800px){body.one-page{padding-top:70px}.flexnav{overflow:visible}
.flexnav.opacity{opacity:1}.flexnav.one-page{top:0;left:auto;max-width:1080px}.flexnav li{position:relative;list-style:none;float:right;display:block;background-color:#000;overflow:visible;width:25%}
.flexnav li a{border-bottom:1px solid #acaca1;border-left:1px solid #acaca1;border-right:1px solid #acaca1;border-top:1px solid #acaca1}
.flexnav li>ul{position:absolute;top:auto;right:0}.flexnav li>ul li{width:100%}.flexnav li ul li>ul{margin-right:100%;top:0}
.flexnav li ul li a{border-bottom:0}.flexnav li ul.open{display:block;opacity:1;visibility:visible;z-index:1}
.flexnav li ul.open li{overflow:visible;max-height:100px}.flexnav li ul.open ul.open{margin-right:100%;top:0}
.menu-button{display:none}}.oldie body.one-page{padding-top:70px}.oldie .flexnav{overflow:visible}
.oldie .flexnav.one-page{top:0;left:auto;max-width:1080px}.oldie .flexnav li{position:relative;list-style:none;float:right;display:block;background-color:#000;width:20%;min-height:50px;overflow:visible}
.oldie .flexnav li:hover>ul{display:block;width:100%;overflow:visible}.oldie .flexnav li:hover>ul li{width:100%;float:none}
.oldie .flexnav li a{border-right:1px solid #acaca1;border-bottom:0;overflow:visible}
.oldie .flexnav li>ul{background:#acaca1;position:absolute;top:auto;right:0;display:none;z-index:1;overflow:visible}
.oldie .flexnav li ul li ul{top:0}.oldie .flexnav li ul li a{border-bottom:0}.oldie .flexnav li ul.open{display:block;width:100%;overflow:visible}
.oldie .flexnav li ul.open li{width:100%}.oldie .flexnav li ul.open ul.open{margin-right:100%;top:0;display:block;width:100%;overflow:visible}
.oldie .flexnav ul li:hover ul{margin-right:100%;top:0}.oldie .menu-button{display:none}
.oldie.ie7 .flexnav li{width:19.9%}.site-main [class*="navigation"]{width:100%;float:right;margin:25px 0 1.5em;overflow:hidden}
[class*="navigation"] .nav-previous{float:right;margin-top:25px;width:50%}
[class*="navigation"] .nav-next{float:left;text-align:left;margin-top:25px;width:50%}
.main-navigation ul ul{box-shadow:0 3px 3px rgba(0,0,0,0.2);display:none;float:right;right:0;position:absolute;top:1.5em;z-index:99999;background:#fff;padding:30px}
#site-navigation{border-top:solid 5px #f3f3f3;border-bottom:solid 5px #f3f3f3}ul.nav-menu li{transition:background 200ms ease-in-out;background:#fff;padding:10px}
@media screen and (min-width:0){ul.nav-menu li{text-align:center;width:100%}}@media screen and (min-width:48em){ul.nav-menu li{text-align:none;width:inherit}
}ul.nav-menu li:hover{transition:background 200ms ease-in-out;background:#f3f3f3}
.menu-main-menu-container li.current-menu-item{background-color:#f3f3f3;display:block}
ul.nav-menu li.current_page_item{background:#f3f3f3}#primary-nav{float:right;max-width:100%;width:100%}
nav.post-navigation{width:100%}.nav-links{width:100%}@media screen and (min-width:0){.nav-links .nav-previous{float:left;display:block;margin-right:14.28571%;width:100%;margin-right:0}
.nav-links .nav-previous:last-child{margin-right:0}}@media screen and (min-width:48em){.nav-links .nav-previous{float:left;display:block;margin-right:4.34783%;width:47.82609%}
.nav-links .nav-previous:last-child{margin-right:0}}@media screen and (min-width:0){.nav-links .nav-next{float:left;display:block;margin-right:14.28571%;width:100%;margin-right:0}
.nav-links .nav-next:last-child{margin-right:0}}@media screen and (min-width:48em){.nav-links .nav-next{float:left;display:block;margin-right:4.34783%;width:47.82609%}
.nav-links .nav-next:last-child{margin-right:0}}.sticky{background:#ededed}.gallery-caption{list-style:none}
.bypostauthor{list-style:none}.hentry{margin:0 0 1.5em}.byline,.updated{display:none}
.single .byline,.group-blog .byline{display:inline}.page-content,.entry-content,.entry-summary{margin:1.5em 0 0}
.page-links{clear:both;margin:0 0 1.5em}.aligncenter{float:none;margin-top:.5em;margin-left:auto !important;margin-bottom:.5em;margin-right:auto !important}
.aligncenter::after{clear:both;content:"";display:table}
.alignleft{display:inline;float:right;margin-left:1.5em}.alignright{display:inline;float:left;margin-right:1.5em}
.sticky{float:right;padding:20px}.page-content img.wp-smiley,.entry-content img.wp-smiley,.comment-content img.wp-smiley{border:0;margin-bottom:0;margin-top:0;padding:0}
.wp-caption{border:1px solid #ededed;clear:both;margin-bottom:1.5em;max-width:100%}
.wp-caption img[class*="wp-image-"]{display:block;margin:1.2% auto 0;max-width:98%}
.wp-caption-text{text-align:center}.wp-caption .wp-caption-text{margin:.8075em 0}
.site-main .gallery{margin-bottom:1.5em}.site-main .gallery a img{border:0;height:auto;max-width:90%}
.site-main .gallery dd{margin:0}embed,iframe,object{max-width:100%}.comment-content a{word-wrap:break-word}
.infinite-scroll .paging-navigation,.infinite-scroll.neverending .site-footer{display:none}
.infinity-end.neverending .site-footer{display:block}#content .entry-content a,#content .entry-content a:visited{text-decoration:underline}
#content .entry-content a:hover,#content .entry-content a:visited:hover{text-decoration:none}
#content .entry-meta a,#content .entry-meta a:visited{text-decoration:underline}#content .entry-meta a:hover,#content .entry-meta a:visited:hover{text-decoration:none}
.gallery{margin-bottom:1.6em}.gallery-item{display:inline-block;padding:1.79104477%;text-align:center;vertical-align:top;width:100%}
.gallery-columns-2 .gallery-item{max-width:50%}.gallery-columns-3 .gallery-item{max-width:33.33%}
.gallery-columns-4 .gallery-item{max-width:25%}.gallery-columns-5 .gallery-item{max-width:20%}
.gallery-columns-6 .gallery-item{max-width:16.66%}.gallery-columns-7 .gallery-item{max-width:14.28%}
.gallery-columns-8 .gallery-item{max-width:12.5%}.gallery-columns-9 .gallery-item{max-width:11.11%}
.gallery-icon img{margin:0 auto}.gallery-caption{color:#707070;color:rgba(51,51,51,0.7);display:block;font-family:"Noto Sans",sans-serif;font-size:12px;font-size:1.2rem;line-height:1.5;padding:.5em 0}
.gallery-columns-6 .gallery-caption,.gallery-columns-7 .gallery-caption,.gallery-columns-8 .gallery-caption,.gallery-columns-9 .gallery-caption{display:none}
.page-template-page-templatestemplate-left-col-php h1.entry-title{margin:0;text-align:right}
@media screen and (min-width:48em){.page-template-page-templatestemplate-left-col-php #main{display:-ms-flexbox;display:flex}
}@media screen and (min-width:0){.page-template-page-templatestemplate-left-col-php #main #primary{float:left;display:block;margin-right:14.28571%;width:214.28571%}
.page-template-page-templatestemplate-left-col-php #main #primary:last-child{margin-right:0}
}@media screen and (min-width:48em){.page-template-page-templatestemplate-left-col-php #main #primary{float:left;display:block;margin-right:4.34783%;width:65.21739%;-ms-flex-order:1;order:1}
.page-template-page-templatestemplate-left-col-php #main #primary:last-child{margin-right:0}
}.page-template-page-templatestemplate-left-col-php #main #secondary{margin-left:1.5%}
@media screen and (min-width:0){.page-template-page-templatestemplate-left-col-php #main #secondary{float:left;display:block;margin-right:14.28571%;width:214.28571%}
.page-template-page-templatestemplate-left-col-php #main #secondary:last-child{margin-right:0}
}@media screen and (min-width:48em){.page-template-page-templatestemplate-left-col-php #main #secondary{float:left;display:block;margin-right:4.34783%;width:30.43478%;-ms-flex-order:2;order:2}
.page-template-page-templatestemplate-left-col-php #main #secondary:last-child{margin-right:0}
}.page-template-page-templatestemplate-left-col-php footer{clear:both;display:table}
.page-template-page-templatestemplate-right-col-php h1.entry-title{margin:0;text-align:right}
@media screen and (min-width:0){.page-template-page-templatestemplate-right-col-php #primary{float:right}
}@media screen and (min-width:0) and (min-width:0){.page-template-page-templatestemplate-right-col-php #primary{float:left;display:block;margin-right:14.28571%;width:214.28571%}
.page-template-page-templatestemplate-right-col-php #primary:last-child{margin-right:0}
}@media screen and (min-width:0) and (min-width:48em){.page-template-page-templatestemplate-right-col-php #primary{float:left;display:block;margin-right:4.34783%;width:65.21739%}
.page-template-page-templatestemplate-right-col-php #primary:last-child{margin-right:0}
}@media screen and (min-width:48em){.page-template-page-templatestemplate-right-col-php #secondary{float:left;margin-left:1.5%}
}@media screen and (min-width:48em) and (min-width:0){.page-template-page-templatestemplate-right-col-php #secondary{float:left;display:block;margin-right:14.28571%;width:214.28571%}
.page-template-page-templatestemplate-right-col-php #secondary:last-child{margin-right:0}
}@media screen and (min-width:48em) and (min-width:48em){.page-template-page-templatestemplate-right-col-php #secondary{float:left;display:block;margin-right:4.34783%;width:30.43478%}
.page-template-page-templatestemplate-right-col-php #secondary:last-child{margin-right:0}
}.page-template-page-templatestemplate-full-width-php #main,.page-template-page-templatestemplate-full-width-php #primary,.page-template-page-templatestemplate-full-width-php #secondary{width:100%;margin:0;padding:0}
.page-template-page-templatestemplate-full-width-php #page{max-width:100%;margin-left:auto;margin-right:auto}
.page-template-page-templatestemplate-full-width-php #page::after{clear:both;content:"";display:table}
.page-template-page-templatestemplate-full-width-php .site-main [class*="navigation"],.page-template-page-templatestemplate-full-width-php #comments,.page-template-page-templatestemplate-full-width-php footer,.page-template-page-templatestemplate-full-width-php #primary-nav{max-width:71.25em;margin-left:auto;margin-right:auto;float:none}
.page-template-page-templatestemplate-full-width-php .site-main [class*="navigation"]::after,.page-template-page-templatestemplate-full-width-php #comments::after,.page-template-page-templatestemplate-full-width-php footer::after,.page-template-page-templatestemplate-full-width-php #primary-nav::after{clear:both;content:"";display:table}
.page-template-page-templatestemplate-landing-page-php #main,.page-template-page-templatestemplate-landing-page-php #primary,.page-template-page-templatestemplate-landing-page-php #secondary{width:100%;margin:0;padding:0}
.page-template-page-templatestemplate-landing-page-php #page{max-width:100%;margin-left:auto;margin-right:auto}
.page-template-page-templatestemplate-landing-page-php #page::after{clear:both;content:"";display:table}
.blog .format-aside .entry-title,.archive .format-aside .entry-title{display:none}
.widget{margin:0 0 1.5em}.widget select{max-width:100%}.widget_search .search-submit{display:none}
footer{float:right;margin:0 auto;padding:0 40px;width:100%}footer .site-info{margin:auto;width:100%}
footer .footer-left{float:left;display:block;margin-right:2.12766%;width:48.93617%;margin-bottom:40px;margin-top:30px;padding:10px;text-align:right}
footer .footer-left:last-child{margin-right:0}footer .footer-right{float:left;display:block;margin-right:2.12766%;width:48.93617%;margin-top:30px;margin-bottom:40px;padding:10px;text-align:left}
footer .footer-right:last-child{margin-right:0}.screen-reader-text{clip:rect(1px,1px,1px,1px);height:1px;overflow:hidden;position:absolute;width:1px}
.screen-reader-text:hover,.screen-reader-text:active,.screen-reader-text:focus{background-color:#ccc;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,0.6);clip:auto;color:red;display:block;font-size:14px;font-weight:bold;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}